<button type="button" class="btn btn-primary new-recipe-btn">+ Recipe</button>
<hr>
<div class="list-group">
    <a class="list-group-item list-group-item-action recipe-list-block">
        <h6 class="recipe-list-header text-truncate">Black Bean Burritos</h6>
        <img class="img-thumb" src="../../../assets/images/burrito-img.jpg">
    </a>
    <a class="list-group-item list-group-item-action recipe-list-block">
        <h6 class="recipe-list-header text-truncate">Pizza Diavola</h6>
        <img class="img-thumb" src="../../../assets/images/pizza-img.jpg">
    </a>
    <a class="list-group-item list-group-item-action recipe-list-block">
        <h6 class="recipe-list-header text-truncate">Cajun Chicken Stir-fry</h6>
        <img class="img-thumb" src="../../../assets/images/stir-fry-img.jpg">
    </a>
</div>