.shopping-btns {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 87px;
    margin-right: 15px;
}

.ingredient-row {
    margin-bottom: 15px;
}

.shopping-list-item {
    line-height: 40px;
    vertical-align: middle;
}